<div class="details-container">
    <h2 class="company-name">{{ company.companyName }}</h2>
    <div class="profile-picture">
      <img src="https://via.placeholder.com/150" alt="Company Logo">
    </div>
    <div class="detail-row">
      <div class="detail-label">Industry:</div>
      <div class="detail-value">{{ company.industry }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Contact Number:</div>
      <div class="detail-value">{{ company.contactNo }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Email:</div>
      <div class="detail-value">{{ company.email }}</div>
    </div>
  </div>
  