<div class="details-container">
    <h2>{{ jobSeeker.firstName }} {{ jobSeeker.lastName }}</h2>
    <div class="profile-picture">
      <img src="https://via.placeholder.com/150" alt="Profile Picture">
    </div>
    <div class="detail-row">
      <div class="detail-label">Contact Number:</div>
      <div class="detail-value">{{ jobSeeker.contactNo }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Email:</div>
      <div class="detail-value">{{ jobSeeker.email }}</div>
    </div>
  </div>
  